body{
  background-color:aqua;
}

button{
  /* display: block; */
  margin-top: 50px;
}
.bta {
  display: block;
}

.btb{
  display: block;
  visibility: hidden;
}
.bta :hover{
  visibility: visible;

}